clienteunico/src/main/java/com/gsj/clienteunico/models/PersonaGSJ/persona.wsdl

<xs:schema xmlns:tns="http://a5.soap.ws.server.puc.sr/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://a5.soap.ws.server.puc.sr/">

    <xs:complexType name="datosGenerales">
        <xs:sequence>
            <xs:element minOccurs="0" name="apellido" type="xs:string" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="caracterizacion"
                nillable="true" type="tns:caracterizacion" />
            <xs:element minOccurs="0" name="dependencia" type="tns:dependencia" />
            <xs:element minOccurs="0" name="domicilioFiscal" type="tns:domicilio" />
            <xs:element minOccurs="0" name="esSucesion" type="xs:string" />
            <xs:element minOccurs="0" name="estadoClave" type="xs:string" />
            <xs:element minOccurs="0" name="fechaContratoSocial" type="xs:dateTime" />
            <xs:element minOccurs="0" name="fechaFallecimiento" type="xs:dateTime" />
            <xs:element minOccurs="0" name="idPersona" type="xs:long" />
            <xs:element minOccurs="0" name="mesCierre" type="xs:int" />
            <xs:element minOccurs="0" name="nombre" type="xs:string" />
            <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
            <xs:element minOccurs="0" name="tipoClave" type="xs:string" />
            <xs:element minOccurs="0" name="tipoPersona" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="caracterizacion">
        <xs:sequence>
            <xs:element minOccurs="0" name="descripcionCaracterizacion" type="xs:string" />
            <xs:element minOccurs="0" name="idCaracterizacion" type="xs:int" />
            <xs:element minOccurs="0" name="periodo" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dependencia">
        <xs:sequence>
            <xs:element minOccurs="0" name="codPostal" type="xs:string" />
            <xs:element minOccurs="0" name="descripcionDependencia" type="xs:string" />
            <xs:element minOccurs="0" name="descripcionProvincia" type="xs:string" />
            <xs:element minOccurs="0" name="direccion" type="xs:string" />
            <xs:element minOccurs="0" name="idDependencia" type="xs:int" />
            <xs:element minOccurs="0" name="idProvincia" type="xs:int" />
            <xs:element minOccurs="0" name="localidad" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="domicilio">
        <xs:sequence>
            <xs:element minOccurs="0" name="codPostal" type="xs:string" />
            <xs:element minOccurs="0" name="datoAdicional" type="xs:string" />
            <xs:element minOccurs="0" name="descripcionProvincia" type="xs:string" />
            <xs:element minOccurs="0" name="direccion" type="xs:string" />
            <xs:element minOccurs="0" name="idProvincia" type="xs:int" />
            <xs:element minOccurs="0" name="localidad" type="xs:string" />
            <xs:element minOccurs="0" name="tipoDatoAdicional" type="xs:string" />
            <xs:element minOccurs="0" name="tipoDomicilio" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="datosMonotributo">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="actividad" nillable="true"
                type="tns:actividad" />
            <xs:element minOccurs="0" name="actividadMonotributista" type="tns:actividad" />
            <xs:element minOccurs="0" name="categoriaMonotributo" type="tns:categoria" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="componenteDeSociedad"
                nillable="true" type="tns:relacion" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="impuesto" nillable="true"
                type="tns:impuesto" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="actividad">
        <xs:sequence>
            <xs:element minOccurs="0" name="descripcionActividad" type="xs:string" />
            <xs:element minOccurs="0" name="idActividad" type="xs:long" />
            <xs:element minOccurs="0" name="nomenclador" type="xs:int" />
            <xs:element minOccurs="0" name="orden" type="xs:int" />
            <xs:element minOccurs="0" name="periodo" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="categoria">
        <xs:sequence>
            <xs:element minOccurs="0" name="descripcionCategoria" type="xs:string" />
            <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
            <xs:element minOccurs="0" name="idImpuesto" type="xs:int" />
            <xs:element minOccurs="0" name="periodo" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="relacion">
        <xs:sequence>
            <xs:element minOccurs="0" name="apellidoPersonaAsociada" type="xs:string" />
            <xs:element minOccurs="0" name="ffRelacion" type="xs:dateTime" />
            <xs:element minOccurs="0" name="ffVencimiento" type="xs:dateTime" />
            <xs:element minOccurs="0" name="idPersonaAsociada" type="xs:long" />
            <xs:element minOccurs="0" name="nombrePersonaAsociada" type="xs:string" />
            <xs:element minOccurs="0" name="razonSocialPersonaAsociada" type="xs:string" />
            <xs:element minOccurs="0" name="tipoComponente" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="impuesto">
        <xs:sequence>
            <xs:element minOccurs="0" name="descripcionImpuesto" type="xs:string" />
            <xs:element minOccurs="0" name="idImpuesto" type="xs:int" />
            <xs:element minOccurs="0" name="periodo" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="datosRegimenGeneral">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="actividad" nillable="true"
                type="tns:actividad" />
            <xs:element minOccurs="0" name="categoriaAutonomo" type="tns:categoria" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="impuesto" nillable="true"
                type="tns:impuesto" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="regimen" nillable="true"
                type="tns:regimen" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="regimen">
        <xs:sequence>
            <xs:element minOccurs="0" name="descripcionRegimen" type="xs:string" />
            <xs:element minOccurs="0" name="idImpuesto" type="xs:int" />
            <xs:element minOccurs="0" name="idRegimen" type="xs:int" />
            <xs:element minOccurs="0" name="periodo" type="xs:int" />
            <xs:element minOccurs="0" name="tipoRegimen" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errorConstancia">
        <xs:sequence>
            <xs:element minOccurs="0" name="apellido" type="xs:string" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true"
                type="xs:string" />
            <xs:element minOccurs="0" name="idPersona" type="xs:long" />
            <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errorMonotributo">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true"
                type="xs:string" />
            <xs:element minOccurs="0" name="mensaje" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errorRegimenGeneral">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true"
                type="xs:string" />
            <xs:element minOccurs="0" name="mensaje" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="metadata">
        <xs:sequence>
            <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime" />
            <xs:element minOccurs="0" name="servidor" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="persona">
        <xs:sequence>
            <xs:element minOccurs="0" name="datosGenerales" type="tns:datosGenerales" />
            <xs:element minOccurs="0" name="datosMonotributo" type="tns:datosMonotributo" />
            <xs:element minOccurs="0" name="datosRegimenGeneral"
                type="tns:datosRegimenGeneral" />
            <xs:element minOccurs="0" name="errorConstancia" type="tns:errorConstancia" />
            <xs:element minOccurs="0" name="errorMonotributo" type="tns:errorMonotributo" />
            <xs:element minOccurs="0" name="errorRegimenGeneral"
                type="tns:errorRegimenGeneral" />
        </xs:sequence>
    </xs:complexType>


</xs:schema>
 